/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0b3527;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
  }
  
  /* Navigation Container */
  nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo Container */
  nav .logo {
    display: flex;
    align-items: start;
    /* gap: 3px; */
  }
  
  nav .logo img {
    height: 80px;
    width: 180px;
    object-fit: contain;
  }

  
  /* Navigation Links */
  nav .nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  nav .nav-links a {
    color: #FFFFFF;
    text-transform: 'capitalize';
    font-size: larger;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  nav .nav-links a:hover {
    color: #3182ce; /* Blue color */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    nav .nav-links {
      display: none;
    }
  }
  